/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 0;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaptiosn, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-height: 2300px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	background-image: url("../images/background.png");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************
Start Hackzz
***********************************************/

/* Fix: width and center image on bigger screens. */
.bgimage{
    background-size: 100% auto;
}

/* Fix: scrolling menu. */
#stickyheader{
    position: fixed;
    top: 50%;
    right: 0;
}

/* Test for javascript, needs to be replaced with images */
.selected{
    background-image: url('../images/selectorfilled.png');
    background-repeat: no-repeat;
    display: block;
    float: right;
    width: 22px;
    height: 22px;
}

.unselected{
    background-image: url('../images/selectorempty.png');
    background-repeat: no-repeat;
    display: block;
    float: right;
    width: 22px;
    height: 22px;
}

/***********************************************
End Hackzz
***********************************************/

/*Landing*/

#landing {
	min-height: 95vh;
}

header {
	text-align: center;
	margin-top: 2vh;
}

#landing p {
	text-align: center;
	margin-top: 10vh;
	color: #FFF;
	width: 50%;
	margin: 2vh auto;
}

#subscribe {
	text-align: center;
	margin-top: 10vh;
}

#arrow {
	text-align: center;
	margin-top: 2vh;
}

/*Nav*/

nav {
	float: right;
	margin-right: 2vw;
	
}

nav li {
    margin-bottom: 3vh;
}

nav a {
	list-style: none;
	color: rgba(120,189,36,0.5);
    /*margin-right: 1vw;*/
}

nav a:visited {
    color: rgba(120,189,36,1);
}

nav span {
    margin-left: 1vw;
}
/*Bio*/

#bio {
	min-height: 45vh;
	background-image: url("../images/greentab.png");
	background-repeat: no-repeat;
}

.content {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#bio h1 {
	color: #85CC29;
	font-size: 20vh;
	font-weight: bold;
	text-align: center;
	background: linear-gradient(360deg, #85CC29 0%, #000 0%, #85CC29 30%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	padding-top: 8vh;
}

#bio p {
	text-align: center;
	color: #FFF;
}

/*Carousel*/

.membercard {
	min-height: 60vh;
	margin: 35vh auto 5vh;
}

#photos {
	width: 365px;
	margin: auto;
}

.box {
	width: 365px;
	min-height: 90vh;
	background-color: rgba(20,167,225,.1);
}

.box img {
	margin-left: auto;
	margin-right: auto;
	padding-top: 5vh;
}

.box h2 {
	border-bottom: solid 1px;
	margin: 2vh 3vw 0;
	color: #FFF;
}

.box p {
	text-align: right!important;
	margin: 1vh 3vw 0;
	color: #6BAB26!important;
}

#description {
	text-align: left!important;
    padding-bottom: 5vh;
}
/*Contact*/

#contact {
<<<<<<< HEAD
	min-height: 45vh;
	background-image: url("../images/contactbanner.png");
=======
<<<<<<< HEAD
	min-height: 70vh;
	/*background-image: url("../images/orangetab.png");*/
/*=======*/
	/*min-height: 45vh;*/
	background-image: url("../images/contactbanner.png");
/*>>>>>>> sheik*/
>>>>>>> master
	background-repeat: no-repeat;

}

#contact h1 {
	color: #B7170A;
	font-size: 20vh;
	font-weight: bold;
	text-align: center;
	background: linear-gradient(360deg, #B7170A 0%, #000 0%, #B7170A 30%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	padding-top: 8vh;
}

#contact p {
	text-align: center;
	color: #FFF;
	margin-top: 2vh;
    min-height: 45vh;

}

/*Contactform*/

#contact-form {
	min-height: 60vh;
}

form {
    margin-left:auto;
    margin-right:auto;
    width: 75vh;
    height: 350px;
    padding:22px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    border: 2px solid rgba(203,68,6,.5);
    box-shadow: 0 0 10px rgba(203,68,6,1);

}

textarea{
	background: rgba(188,48,13,0) no-repeat scroll 16px 16px; 
    width: 68vh;
    height: 110px;
    border: 2px solid rgba(203,68,6,.5);
    box-shadow: 0 0 10px rgba(203,68,6,1);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 68vh;
    height: 48px;
    border: 0px solid rgba(203,68,6,.2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name {
	  background: rgba(188,48,13,0) no-repeat scroll 16px 16px; 
      border: 2px solid rgba(203,68,6,.5);
      box-shadow: 0 0 10px rgba(203,68,6,1);
	  padding-left:45px;
}

input.email {
	  background: rgba(188,48,13,0) no-repeat scroll 16px 20px;
      border: 2px solid rgba(203,68,6,.5);
      box-shadow: 0 0 10px rgba(203,68,6,1);
	  padding-left:45px;
}

input.message {
	  background: rgba(188,48,13,0) no-repeat scroll 16px 16px;
      border: 2px solid rgba(203,68,6,.5);
      box-shadow: 0 0 10px rgba(203,68,6,1);
	  padding-left:45px;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
	  color: #fff; 
}

input:focus, textarea:focus { 
    /*background-color: rgba(188,48,13,.2);*/
    -moz-box-shadow: 0 0 5px 1px rgba(203,68,6,.2);
    -webkit-box-shadow: 0 0 5px 1px rgba(203,68,6,.2);
    box-shadow: 0 0 10px rgba(203,68,6,1);   
    border: 2px solid rgba(203,68,6,.8);
    overflow: hidden;
    outline: none;
}

.btn {
    margin: 0 auto;
	width: 30vh;
	height: 44px;
    text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*float:right;*/
    border: 1px solid rgba(203,68,6,.5);
    box-shadow: 0 0 10px rgba(203,68,6,1);
    background: rgba(188,48,13,0) no-repeat scroll 16px 20px;
    
}

.btn:hover {
    
    text-shadow: #333333 0 1px 0;
    background: rgba(203,68,6,.5);
    box-shadow: 0 0 10px rgba(203,68,6,1);
    color: #fff;
 }

.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid rgba(203,68,6,1);
    box-shadow: 0 0 10px rgba(203,68,6,1);
    background: rgba(203,68,6,.8);
}